#contact {
  background: #151515;
  padding-top: 7rem;
  padding-bottom: 5rem;
}
#contact .section-intro h1 {
  color: white;
}
#contact .section-intro h5 {
  color: var(--importColor2);
}
#contact .section-intro p {
  color: rgba(255, 255, 255, 0.7);
}

.contact-info {
  margin: 4.8rem auto 0;
  font-family: "poppins-regular", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.contact-info .collapse {
  padding: 0;
}
.contact-info .icon {
  margin-bottom: 2.1rem;
}
.contact-info .icon i {
  font-size: 4.2rem;
  color: #ffffff;
}
.contact-info h5 {
  color: var(--importColor2);
}